<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Des films Express</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/bootstrap/css/bootstrap.min.css">
  </head>
  <body>
      <div class="container">
        <% include ./partials/menu.ejs %>
        <h1><%= monTitle %></h1>
        <p>Affichage de notre paramètre : <%= filmId %></p>
        <p>Nullam eros mi, mollis in sollicitudin non, tincidunt sed enim.
          Sed et felis metus, rhoncus ornare nibh. Ut at magna leo.
          Suspendisse egestas est ac dolor imperdiet pretium.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nam porttitor, erat sit amet venenatis luctus,
          augue libero ultrices quam, ut congue nisi risus eu purus.
          Cras semper consectetur elementum. Nulla vel aliquet libero.
          Vestibulum eget felis nec purus commodo convallis. Aliquam erat volutpat. </p>
      </div>
      <% include ./partials/footer.ejs %>
  </body>
</html>
